<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <title>
          {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
          {% block body %}{% endblock %}
        </div>

      {% block javascripts %}
      <script type="text/javascript" src="{{ asset(asset('build/app.js')) }}"></script>
      {% endblock %}
    </body>
</html>
