{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    <div class="header" >
      <h2>My To Do List</h2>
      <form method="POST" action="{{ path('create_task') }}">
        <input name="title" type="text" id="myInput" placeholder="Task title..." />
        <button type="submit" class="addBtn">Add a task</button>
      </form>
    </div>

    <ul>
      {% for task in tasks %}
      <li class="{% if task.status %} checked {% endif %}">
        <a href="{{ path('switch_status', {id: task.id}) }}">
          <span class="task-list-item"> {{ task.title }} </span>
        </a>
        <a onclick="return confirm('Are you sure to delete?')" href="{{ path('delete_task', {id: task.id }) }}"><span class="close">X</span></a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}
