<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        

        <title>Let's Explore Symfony 4</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
            integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">
        <meta charset="UTF-8">
        <title>{% block title %}Let'sexplore Symfony{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# {% block body %}{% endblock %} #}

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="{{ path('welcome') }}">Home</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('hello_page') }}">Hello Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Another Page</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
        <main role="main" class="container main">
            {% block main %}
        
            {% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
